
:root{
    --naranja: #ff4438;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.col-menu{
    width: 56%!important;
    max-height: 800px;
    height: 800px;
    background-image: url(../img/slide1.jpg);
    background-size: cover;
    /*background-position-y: 100px;
    */background-repeat: no-repeat;
    transition: 700ms all ease;
    -moz-transition: 700ms all ease;
    -ms-transition: 700ms all ease;
    -o-transition: 700ms all ease;
    -webkit-transition: 700ms all ease;
}

.clase-row{
    display: flex;
    justify-content: flex-end;
}

.eat{
    margin-left: 50px;
    width: 100%;
}


.seccion1{
    width: 100%;
    position: relative;
    max-width: 1554px;
    margin: auto;
}

.nav-opciones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    z-index: 10000;
    height: 65px;
    width: 50%!important;
  
}
/* 
.nav-opcionesM{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    z-index: 10000;
    height: 65px;
    width: 91%!important;
} */
.nav-opciones a{
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}
.nav-opciones a:hover{
    color: var(--naranja);
}

.inicio{
    width: 20px;
}
.menu{
    width: 30px;
}
.especialidad{
    width: 60px;
}
.reservacion{
    width: 70px;
}

.contacto{
    width: 35px;
}

.col-menu1{
    display: flex;
    /* align-items: flex-end; */
    padding: 0!important;
}

.menu1-info{
    width: 45%;
    height: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    position: absolute;
    left: 0;
    bottom: 0;

}
.linea{
    width: 90px;
    border-bottom: 1px solid #6a6a6a;
    margin-right: 14px;
}
.linea2{
    width: 90px;
    border-bottom: 1px solid white;
    margin-right: 14px;
}

.discover{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    font-weight:600;
    color: #6a6a6a;
}
.bienvenido{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10%;
    font-weight:600;
    right: 0;
    color: #6a6a6a;
}
.circulos{
    display: flex;
    align-items: center;
    position: absolute;
    left:0;
    bottom: 0%;
}

.circulitos{
    height: 25px;
    width: 25px;
    margin-right: 15px;
}
.circulitos2{
    height: 8px;
    width: 8px;
    margin-right: 15px;
    background: #6a6a6a;
    border-radius: 100%;
    color: #6a6a6a;
    cursor: pointer;
}

.circulitos2-seleccionado{
    width: 12px;
    height: 12px;
    background: var(--naranja);
    color: var(--naranja);
    cursor: pointer;
}
.descubre{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.negro:hover{
    background-color: rgba(32, 32, 32, 0.972)!important;
}


.btn-menu:hover{
    color: white;
}

.btn-menu{
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-right: 10px;
    background: var(--naranja);
    font-weight: 600;
}

.btn-menu:hover{
    background: #f8574b;
}

.cont-btn{
    text-align: left;
    margin-top: 20px;
    padding-left: 100px;
}



.eat h2{
    font-weight: 900;
    width: 85%;
    padding-left: 50px;
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

.circulos-fondo{
    width: 100px; 
    height: 400px; 
    position: absolute; 
    right: 0; 
    top:40%;
    text-align: center;
}

.circulos-fondo p{
    margin: 0;
}

.img-comida{
    width: 100%;
    height: 450px;
}

.fondo-seccion2{
    background-image: url(../img/seccion2.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position-y: -317px;
}

.icono-menu{
   color: #1cb1d1;
   position: absolute;
}

.opciones-movil a{
    color: red;
}
.opciones-movil a:active{
    color: var(--naranja)!important;

}

.sobre{
    width: 100%;
    height: 450px;
    background: #051c2c;
    position: relative;
    display: flex;
    align-items: center;
    text-align: right;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}
.seccion2{
    margin-top: 100px!important; 
    height: 550px; 
    position: relative;
    max-width: 1554px;
    margin: auto;
}

.welcome{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: var(--naranja);
}

.text-manglar{
    font-size: 40px;
    margin-bottom: 20px;
}

.btn2{
    text-align: right;
    margin-top: 35px;
}

.sobre-info{
    padding-left: 10%;
    width: 87%;
    margin-top: 50px;

}

.seccion3{
    margin-top: 100px!important; 
    padding: 100px; 
    height: auto; 
    position: relative;
    margin: auto;
    max-width: 1554px;
}

.categorias{
    margin: auto;
    width: 50%;
}

.categoria-img{
    height: 113px;
    /* max-width: 143px; */
    width: 158px;
    background-size: contain;
    background-repeat: no-repeat;
}

.categoria-img img{
    width: 200px;
    /* height: 130px; */
    /* overflow: hidden; */
    z-index: 1000;
}


.info-categorias{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    padding: 20px 0px;
    height: auto;
    /* max-height: 150px; */
}

.categoria-texto{
    margin-left: 25px;
    width: 100%;
    min-height: 120px;
}

.categoria-texto .textoyprecio h2{
    font-size: 15px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: start;
}

.textoyprecio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio{
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: 'Asap', sans-serif;
}
.categoria-texto p{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.titulos{
    text-align: center;
    font-family: 'Fjalla One';
    letter-spacing: 2px;
    font-size: 25px;
}

.mapa{
    /* background: rgb(18, 204, 208, .5); */
    background: #1cb1d1;
    opacity: 50%;
    width: 100%;
    position: absolute;
    z-index: 10000;
    height: 450px;
}

.ver-mas{
    BACKGROUND: BLACK;
    COLOR: WHITE;
    WIDTH: 200PX;
    HEIGHT: 50PX;
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: CENTER;
    ALIGN-ITEMS: CENTER;
    MARGIN: AUTO;
    FONT-FAMILY: 'Open Sans';
    LETTER-SPACING: 1PX;
    margin-top: 25px;
}

.redes{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.icon:hover{
    color: var(--naranja);
    transition: 100ms all ease!important;
    -webkit-transition: 100ms all ease!important;
    -moz-transition: 100ms all ease!important;
    -ms-transition: 100ms all ease!important;
    -o-transition: 100ms all ease!important;
}


.nav-opciones2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    z-index: 10000;
    width: 55%;
}

.celular{
    display: none!important;
}

.manu-movil{
    background: white;
    position: fixed;
    z-index: 10000;
    box-shadow: 0px -17px 20px 3px black;
}


.btn-menu:hover .icono{
    /*margin: 0;
    */transform: translateX(10px)!important;
    transition: 100 all ease!important;
    -webkit-transition: 100 all ease!important;
    -moz-transition: 100 all ease!important;
    -ms-transition: 100 all ease!important;
    -o-transition: 100 all ease!important;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
}


.nav3{
    position: fixed;
    width: 101%;
    top: 0;
    background: white;
    left: 0;
    right: 0;
    box-shadow: 0px -17px 20px 3px black;
    display: flex;
    z-index: 10000000000000000000000000000000;
    height: 90px;
    align-items: center;
    padding: 10px 35px;
    transition: 300ms all ease;
    opacity: 100;
    display: flex;
    justify-content: center;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}

.mg{
    /* width: 70%; */
    width: 60%;
    padding-left: 50px;

}

.fijo-opciones{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}

.cien{
    width: 100%!important;
}
.fijo{
    width: 20%;
}

.img-fijo{
    width:80px;
    display: none;
}
.img-fijo2{
    width: 150px;
    margin-top: 100px;
}

.cont-img1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.mapa-contenido{
    text-align: center;
    margin-top: 10px;
}

.mapa-texto{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700; 
    color: black;
}

.circulos-fondo2{
    display: none;
}

.cuadritos{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 90px;
    margin: 0!important;
}

.cuadrito-blanco{
    background: white; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.cuadrito-negro{
    background: #051c2c; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.cuadrito-negro2{
    background: #051c2c; 
    display: none;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.zzz{
    display: none;
}
.cuadrito-negro:active, .cuadrito-blanco:active, .cuadrito-blanco2:active{
    background: var(--naranja);
    opacity: 50%;
}

@media screen and (max-Width: 1000px) {

    .cuadritos{
        display: none!important;
    }

    .info-categorias{
        height: auto;
    }
    .celular{
        display: unset!important;
    }

    .col-menu{
        height: 50vh;
        width: 100%!important;
        max-height: 300px;
        background-position: center!important;
    
    }

    .clase-row{
        display: none!important;
    }

    .clase-row{
        display: none;
    }

    .img-fijo2{
        display: none;
    }

    .cont-img1{
        display: none;
    }

    .circulos-fondo2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .circulos-fondo{
        display: none;
    }



    .col-menu1{
        position: absolute;
        bottom: 28%;
        
    }

    .menu1-info{
        width: 100%;
    }

    .cont-btn{
        text-align: center;
        margin: auto;
        margin-top: 35px;
        padding-left: 0;
    }

    .btn-menu{
        margin: auto;
    }

    .eat{
        margin-left: 0;
    }

    .eat h2{
        width: 100%;
        font-size: 27px;
        margin-top: 30px;
        text-align: center;
        padding: 10px;
    }

    .seccion1{
        height: 600px;
        padding-top: 60px;
    }

    .circulos{
        display: none;
    }

    .seccion2{
        height: auto;
    }

    .sobre{
        position: unset;
    }

    .sobre-info{
        width: 100%;
        margin-top: 50px;
        text-align: center;
        padding-left: 0;
    }
    .bienvenido{
        top: 52%;
        right: 10%;
    }

    .seccion3{
        padding-top: 100px!important;
        padding: 0;
    }

    .categorias{
        width: 100%;
    }

    .categoria-img{
        height: 113px;
        max-width: 120px;
        min-width: 120px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
/* 
    .modal-container{
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center; 
    } */


    .categoria-texto .textoyprecio h2{
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .precio{
        font-size: 16px;
    }

    .mapa {
        width: 94%;
        z-index: 0;
    }

    .mapa-contenido{
        top: 40%;
        left: 0;
        right: 0;
    }

    .mapa-texto{
        font-size: 12px;
    }

    .fondo-seccion2{
        background-position-y: unset;
    }

    .info-modal {
        width: 95%!important;
    }
    .modal-img{
        height: 50%!important;
        width: 90%!important;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: unset;
    }
    .modal-texto{
        width: 90%;
    }

}




.modall{
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.70);
    position: fixed;
    z-index: 100000000000000000000000000000000000000000000;
    left: 0;
    text-align: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    display: none;
}

.ver{
    opacity: 100%;
    display: block;
    display: flex;
}

.info-modal{
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 50%;
    padding: 4%;
    padding-top: 20px;
    position: relative;
}


.modal-img{
    height: 450px;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
 
.modal-texto{
    width: 100%;
    max-width: 500px;
    min-height: 120px;
    margin-top: 20px;
    margin-left: 0!important;
}

.textoyprecio2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titul{
    font-size: 20px;
    width: 80%;
}


.iconoX{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

.vericono{
    display: block!important;
}